.book-dialog {
  font-family: 'Drunagor', sans-serif;
}


[class^="icon-"] {
  display: inline-block;
  width: 1.1em; /* Largura do ícone */
  height: 1.1em; /* Altura do ícone */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle; /* Alinha o ícone com o meio do texto */
  margin: 0 0.1em; /* Pequeno espaçamento em volta */
}

/* Ícone Específico: 1 SPELL DMG */
.icon-spell-dmg {
  background-image: url('@/assets/fonts/1 SPELL DMG.svg');
}

/* Ícone Específico: 2 MELEE DMG */
.icon-melee-dmg {
  background-image: url('@/assets/fonts/2 MELEE DMG.svg');
}

/* Ícone Específico: 3 REACTION */
.icon-reaction {
  background-image: url('@/assets/fonts/3 REACTION.svg');
}