.book-dialog {
  font-family: 'Drunagor', sans-serif;
}


[class^="icon-"] {
  display: inline-block;
  width: 1.1em; /* Largura do ícone */
  height: 1.1em; /* Altura do ícone */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle; /* Alinha o ícone com o meio do texto */
  margin: 0 0.1em; /* Pequeno espaçamento em volta */
}